
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "resources/assets/sass/modal.scss";

@import "~selectize/dist/css/selectize.bootstrap3.css";

@import "resources/assets/sass/dropdown.scss";

.container{
	max-width: 960px;
}

.attached-photos{
	height: 0;
	overflow: hidden;
}

.add-photo-btn{
	margin-top: -38px;
}

.button-group {
	display:flex;
	margin-bottom: 10px;
}

.button-group a{
	border: 1px solid #d3e0e9;
    text-align: center;
    padding: 20px 30px;
}

.private-tow{
	margin-right: 10px;
}

.indicator{
	background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /* display: block; */
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.photo img{
	width: 100%; 
	height: auto; 
	display:block; 
	margin-bottom: 10px;
}

.uploading-photo{
	width: 121px;
    height: 91px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}